BLUEFOLDER_API_KEY=
BLUEFOLDER_ACCOUNT_NAME=
BLUEFOLDER_BASE_URL=
BLUEFOLDER_HOST_HEADER=
BLUEFOLDER_VERIFY_SSL=false
SERVICE_SMITH_LOG_LEVEL=INFO
SERVICE_SMITH_DEFAULT_SHEET=
SERVICE_SMITH_REPORT_DIR=reports
SERVICE_SMITH_DEFAULT_CUSTOMER_TYPE=Residential
SERVICE_SMITH_DEFAULT_SR_STATUS=New
SERVICE_SMITH_DEFAULT_SR_PRIORITY=
SERVICE_SMITH_DEFAULT_CONTACT_TITLE=
